name: Update Popular Projects

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: List files in the repository
        run: ls -R
        # Langkah ini akan membantu Anda melihat struktur file
        # dan memastikan 'update_readme.js' ada di lokasi yang benar.

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install @actions/core@1.10.1 @actions/github@5.1.1

      - name: Run script to update README
        run: node update.js
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Update popular repositories section"
          file_pattern: profile/README.md
